[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[packages]
promgen = {extras = ["mysql"],path = ".",editable = true}
gunicorn = "==19.9.0"
redis = "==3.2.1"
whitenoise = "==4.1.2"
celery = {extras = ["redis"],version = "==4.3.0"}

[requires]
python_version = "3.6"

[dev-packages]
promgen = {editable = true,extras = ["dev", "docs"],path = "."}
"flake8" = "*"
django-debug-toolbar = "*"
black = "==18.9b0"
