<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">API Docs</li>
</ol>

<div class="page-header">
  <h1>API Docs</h1>
</div>

<div class="row">
  There's some API endpoints.

  <table class="table">
    <tr>
      <th>Path</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>/api/v1/config</td>
      <td>config.json</td>
    </tr>
    <tr>
      <td>/api/v1/project/</td>
      <td>List of projects</td>
    </tr>
    <tr>
      <td>/api/v1/farm/</td>
      <td>List of farms</td>
    </tr>
    <tr>
      <td>/api/v1/farm/:farm_id</td>
      <td>Get farm information</td>
    </tr>
  </table>
</div>
