<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">API Docs</li>
</ol>

<div class="page-header">
  <h1>API Docs</h1>
</div>

<div class="row">
  There's some API endpoints.

  <table class="table">
    <tr>
      <th>Path</th>
      <th>Description</th>
    </tr>
    <tr>
      <td><span class="label label-get">GET</span> /api/v1/config</td>
      <td>Retrieve Prometheus target configuration</td>
    </tr>
    <tr>
      <td><span class="label label-post">POST</span> /api/v1/config</td>
      <td>Trigger Promgen to write Prometheus target configuration to disk</td>
    </tr>
    <tr>
      <td><span class="label label-get">GET</span> /api/v1/rule/</td>
      <td>Retrieve Prometheus alerting Rules</td>
    </tr>
    <tr>
      <td><span class="label label-post">POST</span> /api/v1/rule/</td>
      <td>Trigger Promgen to write Prometheus alerting rules to disk</td>
    </tr>
    <tr>
      <td><span class="label label-get">GET</span> /api/v1/project/</td>
      <td>List of projects</td>
    </tr>
    <tr>
      <td><span class="label label-get">GET</span> /api/v1/farm/</td>
      <td>List of farms</td>
    </tr>
    <tr>
      <td><span class="label label-get">GET</span> /api/v1/farm/:farm_id</td>
      <td>Get farm information</td>
    </tr>
  </table>
</div>
