<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Error</li>
</ol>

<div class="page-header">
  <h1>An error occurred</h1>
</div>

<div class="row">
  <div class="alert alert-danger" role="alert"><%= @err %></div>
</div>
