{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}PyPromgen{% endblock %}</title>
        <link rel="stylesheet" href="{% static "/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "/css/bootstrap-theme.min.css" %}">
    </head>
    <body>
        <header class="navbar navbar-inverse navbar-static-top" role="navigation">
            <nav class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Promgen</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'service-list' %}">Services</a></li>
                        <li><a href="{% url 'rules-list' %}">Rules</a></li>
                        <li><a href="{% url 'farm-list' %}">Farms</a></li>
                        <li><a href="{% url 'status' %}">Status</a></li>
                        <li><a href="{% url 'audit-list' %}">Log</a></li>
                        <li><a href="{% url 'import' %}">Import Config</a></li>
                        <li><a href="{% url 'config-targets' %}">Export Targets</a></li>
                        <li><a href="{% url 'config-rules' %}">Export Rules</a></li>
                        {% for title, link in EXTERNAL_LINKS.iteritems %}
                        <li><a href="{{ link }}">{{ title }}</a></li>
                        {% endfor %}
                        {% if user.is_superuser %}
                        <li><a href="/admin">Admin</a></li>
                        {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav><!-- /.container-fluid -->
        </header>
        <div class="container">
          {% if messages %}
              {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                  {{ message }}
              </div>
              {% endfor %}
          {% endif %}
            <div>
{% block content %}{% endblock %}
            </div>
        </div>
        <footer class="container" id="footer">

        </footer>
        <script src="{% static "/js/jquery.min.js" %}"></script>
        <script src="{% static "/js/bootstrap.min.js" %}"></script>
{% block javascript %}{% endblock %}
    </body>
</html>
