{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Promgen {{ VERSION }}{% endblock %}</title>
        <link rel="stylesheet" href="{% static "/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "/css/bootstrap-theme.min.css" %}">
        <link rel="stylesheet" href="{% static "/css/bootstrap-datetimepicker.min.css" %}">
        <link rel="stylesheet" href="{% static "/css/promgen.css" %}">
    </head>
    <body>
        <header class="navbar navbar-inverse navbar-static-top" role="navigation">
            <nav class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Promgen {{ VERSION }}</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'service-list' %}">Services</a></li>
                        <li><a href="{% url 'rules-list' %}">Rules</a></li>
                        <li><a href="{% url 'url-list' %}">URLs</a></li>
                        <li><a href="{% url 'farm-list' %}">Farms</a></li>
                        <li><a href="{% url 'host-list' %}">Hosts</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Misc <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="{% url 'status' %}">Status</a></li>
                            <li><a href="{% url 'audit-list' %}">Log</a></li>
                            <li><a href="{% url 'import' %}">Import Config</a></li>
                            <li><a href="{% url 'config-targets' %}">Export Targets</a></li>
                            <li><a href="{% url 'config-rules' %}">Export Rules</a></li>
                            <li><a href="{% url 'config-urls' %}">Export URL</a></li>
                          </ul>
                        </li>
                        {% for title, link in EXTERNAL_LINKS.iteritems %}
                        <li><a href="{{ link }}">{{ title }}</a></li>
                        {% endfor %}
                        {% if user.is_superuser %}
                        <li><a href="{% url 'admin:index' %}">Admin</a></li>
                        {% endif %}
                    </ul>
                    <form class="navbar-form navbar-left" action="{% url 'search' %}">
                      <div class="form-group">
                        <input name="search" type="text" class="form-control" placeholder="Search">
                      </div>
                      <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <form class="navbar-form navbar-left" action="{% url 'commit' %}" method="POST">
                      <input name="next" type="hidden" value="{{ request.get_full_path }}" />
                      <button type="submit" class="btn btn-warning">Commit</button>
                    </form>
                </div><!-- /.navbar-collapse -->
            </nav><!-- /.container-fluid -->
        </header>
        <div class="container">
          {% if messages %}
              {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                  {{ message }}
              </div>
              {% endfor %}
          {% endif %}
            <div>
<div class="panel panel-default" id="alert-all"><div class="panel-heading"><span class="btn btn-default">Loading alerts</a></div></div>
{% block content %}{% endblock %}
            </div>
        </div>
        <script src="{% static "/js/jquery.min.js" %}"></script>
        <script src="{% static "/js/bootstrap.min.js" %}"></script>
        <script src="{% static "/js/moment.min.js" %}"></script>
        <script src="{% static "/js/bootstrap-datetimepicker.min.js" %}"></script>
        <script type="text/javascript">
            $(function () {
                $('.mute_start').datetimepicker({
                    format : 'YYYY-MM-DD HH:mm'
                });
                $('.mute_end').datetimepicker({
                    format : 'YYYY-MM-DD HH:mm',
                    useCurrent: false //Important! See issue #1075
                });
                $(".mute_start").on("dp.change", function (e) {
                    $('.mute_end').data("DateTimePicker").minDate(e.date);
                });
                $(".mute_end").on("dp.change", function (e) {
                    $('.mute_start').data("DateTimePicker").maxDate(e.date);
                });
            });
        </script>
        <script src="{% static "/js/promgen.js" %}"></script>
{% block javascript %}{% endblock %}
    </body>
</html>
