atomicwrites==1.1.5
celery==4.0.2
dj-database-url
Django==1.10.5
envdir
gunicorn
gunicorn
mysqlclient
nose
nose-cov
django_nose
pytz
PyYAML==3.12
raven
redis==2.10.5
requests==2.12.4
vine==1.1.3
whitenoise
