{% load i18n %}
{% spaceless %}
{% if key == 'mute-all' %}
<div class="panel panel-warning collapse" id="show-{{ key|slugify }}">
  <div class="panel-heading">Mutes {{ mutes|length }}</div>
  <table class="table table-bordered table-condensed">
{% else %}
<div class="panel panel-warning">
  <div class="panel-heading">
    <a class="btn btn-danger" role="button" data-toggle="collapse" href="#show-{{ key|slugify }}" aria-expanded="false" aria-controls="collapseExample">
    Mutes {{ mutes|length }}
    </a>
  </div>
  <table class="table table-bordered table-condensed collapse" id="show-{{ key|slugify }}">
{% endif %}
  <tr>
    <th>Ends</th>
    <th>Matchers</th>
    <th>Comment</th>
  </tr>
{% for mute in mutes %}
<tr>
  <td>
    <p>{{ mute.endsAt }}</p>
  </td>
  <td>
    {% for matcher in mute.matchers %}
      <span style="display: inline-block;" class="label label-warning">{{ matcher.name }}:{{ matcher.value }}</span>
    {% endfor %}
  </td>
  <td>
    <p>{{ mute.comment }} </p>
  </td>
</tr>
{% endfor %}
</table>
</div>
{% endspaceless %}
