{% load i18n %}
{% load promgen %}
<div id="ajax-clause-check" class="panel panel-info" v-pre>
  <div class="panel-heading">Query Result</div>
  <div class="panel-body">
  <p>Query Duration: {{ duration }}</p>
  <h3>
    {% if firing %}
    <span class="label label-danger">Firing</span>
    {% else %}
    <span class="label label-default">Not firing</span>
    {% endif %}
  </h3>
</div>

{% if errors %}
    <table class="table table-condensed">
      <tr class="{{ severity }}">
        <th>Error</th>
        <th>Message</th>
      </tr>
{% for error, message in errors.items %}
      <tr>
        <td>{{ error }}</td>
        <td>{{ message|linebreaks }}</td>
      </tr>
{% endfor %}
  </table>
{% endif %}
</div>
