{% load i18n %}
<div class="panel panel-danger">
  <div class="panel-heading">Active Alerts</div>
<table class="table table-bordered table-condensed">
<tr>
  <th>Starts</th>
  <th>Labels</th>
  <th>Annotations</th>
  <th>&nbsp;</th>
{% for alert in alerts %}
<tr>
  <td><a href="{{ alert.generatorURL }}">{{ alert.startsAt }}</a></td>
  <td>
    {% for label, value in alert.labels.items %}
      {% if value %}
      <span class="label label-default">{{label}}: {{ value }}</span>
      {% endif %}
    {% endfor %}
  </td>
  <td>
    {% if alert.annotations.summary %}
    <p>Summary: {{ alert.annotations.summary }}</p>
    {% endif %}
    {% if alert.annotations.description %}
    <p>Description: {{ alert.annotations.description }}</p>
    {% endif %}
    {% if alert.annotations.grafana %}
    <a href="{{ alert.annotations.grafana }}">Grafana</a>
    {% endif %}
  </td>
  <td>
    {% if alert.labels.service %}
      <a href="{% url 'service-mute' alert.labels.service %}" class="btn btn-warning btn-sm">{% trans "Mute Service" %}</a>
    {% endif %}
    {% if alert.labels.project %}
      <a href="{% url 'project-mute' alert.labels.project %}" class="btn btn-warning btn-sm">{% trans "Mute Project" %}</a>
    {% endif %}
    {% if alert.labels.instance %}
      <a href="{% url 'host-mute' alert.labels.instance %}" class="btn btn-warning btn-sm">{% trans "Mute Instance" %}</a>
    {% endif %}
  </td>
</tr>
{% endfor %}
</table>
</div>
