{% load i18n %}
{% spaceless %}
{% if key == 'mute-all' %}
<div class="panel panel-warning collapse" id="show-{{ key|slugify }}">
  <div class="panel-heading">Mutes {{ mutes|length }}</div>
  <table class="table table-bordered table-condensed">
{% else %}
<div class="panel panel-warning">
  <div class="panel-heading">
    <a class="btn btn-warning" role="button" data-toggle="collapse" href="#show-{{ key|slugify }}" aria-expanded="false" aria-controls="collapseExample">
    Mutes {{ mutes|length }}
    </a>
  </div>
  <table class="table table-bordered table-condensed collapse" id="show-{{ key|slugify }}">
{% endif %}
  <tr>
    <th>Ends</th>
    <th>Matchers</th>
    <th>Comment</th>
  </tr>
{% for mute in mutes %}
<tr>
  <td>{{ mute.endsAt }}</td>
  <td>
    {% for matcher in mute.matchers %}
      <a
        class="label label-warning"
        data-labels='{"{{matcher.name}}":"{{matcher.value}}"}'
        href="#"
        style="display: inline-block;"
        >{{ matcher.name }}:{{ matcher.value }}</a>
    {% endfor %}
  </td>
  <td>{{ mute.comment }}</td>
</tr>
{% endfor %}
</table>
</div>
{% endspaceless %}
