{% load i18n %}
{% load tz %}
{% spaceless %}
{% if key == 'silence-all' %}
<div class="panel panel-warning collapse" id="show-{{ key|slugify }}">
  <div class="panel-heading">Silences {{ silences|length }}</div>
{% else %}
<div class="panel panel-warning">
  <div class="panel-heading">
    <a class="btn btn-warning" role="button" data-toggle="collapse" href="#show-{{ key|slugify }}" aria-expanded="false" aria-controls="collapseExample">
    Silences {{ silences|length }}
    </a>
  </div>
  <div class="panel panel-warning collapse" id="show-{{ key|slugify }}">
{% endif %}
  <table class="table table-bordered table-condensed">
  <tr>
    <th>Ends</th>
    <th>Matchers</th>
    <th>Creator</th>
    <th>Comment</th>
  </tr>
{% for silence in silences %}
  <tr>
    <td>{{ silence.endsAt|timezone:TIMEZONE }}</td>
    <td>
      {% for matcher in silence.matchers %}
        <a
          class="label label-warning"
          data-labels='{"{{matcher.name}}":"{{matcher.value}}"}'
          href="#"
          style="display: inline-block;"
          >{{ matcher.name }}:{{ matcher.value }}</a>
      {% endfor %}
    </td>
    <td>{{ silence.createdBy }}</td>
    <td>{{ silence.comment }}</td>
  </tr>
{% endfor %}
  </table>
{% if key == 'silence-all' %}
</div>
{% else %}
  </div>
</div>
{% endif %}
{% endspaceless %}
