{% extends "base.html" %}
{% load promgen %}
{% block content %}

{% breadcrumb label="Alerts" %}

{% include 'promgen/pagination_short.html' %}

<table class="table">
    <tr>
        <th>Created</th>
        <th>Alertname</th>
        <th>Datasource</th>
        <th>Service</th>
        <th>Project</th>
        <th>Job</th>
        <th>Sent</th>
        <th>Error</th>
    </tr>
    {% for alert in alert_list %}
    <tr>
        <td><a href="{{alert.get_absolute_url}}">{{alert.created}}</a></td>
        <td>{{alert.json.commonLabels.alertname}}</td>
        <td>{{alert.json.commonLabels.datasource}}</td>
        <td>{{alert.json.commonLabels.service}}</td>
        <td>{{alert.json.commonLabels.project}}</td>
        <td>{{alert.json.commonLabels.job}}</td>
        <td {% if alert.sent_count == 0 %}class="warning" {% endif %}>{{alert.sent_count}}</td>
        <td {% if alert.error_count %}class="danger" {% endif %}>{{alert.error_count}}</td>
    </tr>
    {% endfor %}
</table>

{% include 'promgen/pagination_short.html' %}

{% endblock %}
