{% load i18n %}

<td class="col-xs-1">
    <a :href="alert.generatorURL">[[alert.startsAt|time]]</a>
</td>
<td>
    <dl class="dl-horizontal">
        <dt>Labels</dt>
        <dd>
            <ul class="list-inline">
                <li v-for="(value, label) in alert.labels">
                    <a @click.prevent="silenceAppendLabel" class="label label-danger" :data-label="label" :data-value="value">[[label]]:[[value]]</a>
                </li>
            </ul>
        </dd>
        <template v-for="(value, annotation) in alert.annotations" class="dl-horizontal">
            <dt>[[annotation]]</dt>
            <dd :inner-html.prop="value|urlize"></dd>
        </template>
    </dl>
</td>
<td>
    <a @click.prevent="silenceAlert(alert)" class="btn btn-warning btn-xs">{% trans "Silence" %}</a>
</td>
