{% extends "base.html" %}

{% block content %}
<div class="page-header">
  <h1>Log</h1>
</div>

<div class="panel panel-default">
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Body</th>
          <th>Object</th>
        </tr>
      </thead>
{% for entry in audit_list %}
      <tr>
        <td>{{ entry.created }}</td>
        <td>{{ entry.body }}</td>
        <td>
          {% if entry.content_object %}
          <a href="{{ entry.content_object.get_absolute_url }}">
            {{ entry.content_object }}
          </a>
          {% endif %}
        </td>
      </tr>
{% endfor %}
    </table>

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'audit-list' %}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'audit-list' %}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</div>

{% endblock %}
