{% extends "base.html" %}

{% block content %}
<div class="page-header">
  <h1>Log</h1>
</div>

<div class="panel panel-default">
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>User</th>
          <th>Body</th>
          <th>Link</th>
        </tr>
      </thead>
{% for entry in audit_list %}
      <tr class="{{ entry.hilight }}">
        <td>{{ entry.created }}</td>
        <td>{{ entry.user }}</td>
        <td>
          {{ entry.body }}

          {% if entry.data %}
          <br />
          <a data-toggle="collapse" href="#collapse-log-{{entry.id}}" aria-expanded="false" aria-controls="collapseExample">
            Show
          </a>
          <div class="collapse" id="collapse-log-{{entry.id}}">
            {% if entry.old %}<pre>{{ entry.old }}</pre> to{% endif %}
            <pre>{{ entry.data }}</pre>
          </div>
          {% endif %}
        </td>
        <td>
          {% if entry.content_object %}
          <a href="{{ entry.content_object.get_absolute_url }}">
            {{ entry.content_object }}
          </a>
          {% endif %}
        </td>
      </tr>
{% endfor %}
    </table>

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'audit-list' %}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'audit-list' %}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</div>

{% endblock %}
