{% extends "base.html" %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'service-detail' project.service.id %}">{{ project.service.name }}</a></li>
  <li class="active"><a href="{% url 'project-detail' project.id %}">{{ project.name }}</a></li>
</ol>

<div class="page-header">
  <h1>Project: {{ project.name }}</h1>
</div>

<div class="row">

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Exporter</div>
      <form action="{% url 'project-exporter' project.id %}" method="post">{% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
          <button class="btn btn-primary">Register Exporter</button>
      </form>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Presets</div>
{% for job, port in exporters.items %}
      <form action="{% url 'project-exporter' project.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="job" value="{{ job }}" />
        <input type="hidden" name="port" value="{{ port }}" />
        <button class="btn btn-primary">Register {{ job }} (Port: {{ port }})</button>
      </form>
{% endfor %}
    </div>
  </div>

</div>

{% endblock %}
