{% extends "base.html" %}
{% load promgen %}
{% load i18n %}
{% block content %}

<div class="page-header" v-pre>
  <h1>{{ view.button_label }}</h1>
</div>

{% breadcrumb group view.button_label %}

<div class="panel panel-default" v-pre>
  <form action="" method="post">
    {% csrf_token %}
    <table class="table">
      {{ form.as_table }}
    </table>
    <div class="panel-footer">
      <button class="btn btn-primary">{{ view.button_label }}</button>
    </div>
  </form>
</div>

{% endblock %}
