{% extends "base.html" %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'service-detail' project.service.id %}">{{ project.service.name }}</a></li>
  <li><a href="{% url 'project-detail' project.id %}">{{ project.name }}</a></li>
  <li class="active"><a href="{% url 'project-detail' project.id %}">{{ farm.name }}</a></li>
</ol>

<div class="page-header">
  <h1>Farm: {{ farm.name }}</h1>
</div>

<form action="{% url 'hosts-add' farm.id %}" method="post">{% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
    <input type="submit" value="Register Hosts" />
</form>

{% endblock %}
