{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="page-header">
  <h1>Hosts</h1>
</div>

<ol class="breadcrumb">
  <li><a href="{% url 'service-list' %}">Home</a></li>
  <li class="active">Host Search</li>
</ol>

{% for host in host_list %}
<div class="panel panel-default">
  <div class="panel-heading">
    <a href="{% url 'host-detail' host.id %}">{{ host.name }}</a>
    from
    <a href="{% url 'farm-detail' host.farm.id %}">{{ host.farm.name }}</a>
  </div>
  <div class="panel-body">
{% include "promgen/host_block.html" %}
  </div>
  <div class="panel-footer">
    <form method="post" action="{% url 'host-delete' host.id %}" onsubmit="return confirm('{% trans "Delete this host?" %}');">
      {% csrf_token %}
    <button name="delete" type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
    </form>
  </div>
</div>
{% endfor %}

{% endblock %}
