{% extends "base.html" %}

{% block content %}

<div class="page-header">
  <h1>Hosts</h1>
</div>

<ol class="breadcrumb">
  <li><a href="{% url 'service-list' %}">Home</a></li>
  <li class="active">All Hosts</li>
</ol>

<div class="panel panel-default">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Host</th>
          <th>Farm</th>
          <th>Source</th>
        </tr>
      </thead>
{% for host in host_list %}
      <tr>
        <td>{{ host.name }}</td>
        <td><a href="{% url 'farm-detail' host.farm.id %}">{{ host.farm.name }}</a></td>
        <td>{{ host.farm.source }}</td>
      </tr>
{% endfor %}
    </table>

</div>

{% endblock %}
