{% extends "base.html" %}

{% block content %}

<div class="page-header">
  <h1>Project: {{ project.name }}</h1>
</div>

<ol class="breadcrumb">
  <li><a href="{% url 'service-list' %}">Home</a></li>
  <li><a href="{% url 'service-detail' project.service.id %}">{{ project.service.name }}</a></li>
  <li><a href="{% url 'project-detail' project.id %}">{{ project.name }}</a></li>
  <li class="active">Link Farm {{ source }}</li>
</ol>

{% for farm in farms %}

<form action="{% url 'farm-link' project.id source %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="farm" value="{{ farm }}" />
    <button type="submit" class="btn btn-danger" />{{ farm }}</button>
</form>

{% endfor %}

{% endblock %}
