{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1>Mute Alerts for {{ label }} {{ obj.name }}</h1>
<form method="post" action="{% url 'mute' %}">
  {% csrf_token %}
  <input name="next" type="hidden" value="{{ obj.get_absolute_url }}" />
  <input name="label.{{ label }}" type="hidden" value="{{ obj.name }}" />
  {% if label == 'project' %}
  <input name="label.service" type="hidden" value="{{ obj.service.name }}" />
  {% endif %}
  <table>
    <tr>
      <td>
        <input name="duration" placeholder="1m/1h/etc" />
      </td>
    </tr>
    <tr>
      <td>
        <div class="row">
          <div class='col-sm-5'>
            Start <input name="start" type='text' class="form-control mute_start" />
          </div>
          <div class='col-sm-5'>
            End <input name="stop" type='text' class="form-control mute_end" />
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <button class="btn btn-warning pull-right">{% trans "Mute" %}</button>
      </td>
    </tr>
  </table>
</form>
{% endblock %}
