{% load i18n %}
<a class="btn btn-default form-inline" role="button" data-toggle="collapse" data-target="#options-{{ label|slugify }}" aria-expanded="false" aria-controls="collapseExample">Options</a>
<form id="options-{{ label|slugify }}" method="post" action="{% url 'mute' %}" class="collapse">
  {% csrf_token %}
  <input name="next" type="hidden" value="{{ request.get_full_path }}" />
{% if service %}
  <input name="label.service" type="hidden" value="{{ service.name }}" />
{% endif %}
{% if project %}
  <input name="label.project" type="hidden" value="{{ project.name }}" />
{% endif %}
 <table>
   <tr>
     <td>
       <input name="duration" placeholder="1m/1h/etc" />
     </td>
   </tr>
   <tr>
     <td>
       <div class="row">
         <div class='col-sm-5'>
           Start <input name="start" type='text' class="form-control mute_start" />
         </div>
         <div class='col-sm-5'>
           End <input name="stop" type='text' class="form-control mute_end" />
         </div>
       </div>
     </td>
   </tr>
   <tr>
     <td>
       <button class="btn btn-warning pull-right">{% trans "Mute" %}</button>
     </td>
   </tr>
 </table>
</form>
