{% load i18n %}
<table class="table table-bordered table-condensed{% if collapse %} collapse" id="{{ collapse }}"{% endif %}">
  <tr>
    <th>Notifier</th>
    <th>Value</th>
  </tr>
  {% for notifier in object.notifiers.all %}
  <tr>
    <td title="Added by: {{notifier.owner}}">{{ notifier.sender }}</td>
    <td>{{ notifier.show_value }}</td>
{% if show_edit %}
    <td>
      <form method="post" action="{% url 'notifier-test' notifier.id %}" style="display: inline">
        {% csrf_token %}
        <button class="btn btn-danger btn-xs">{% trans "Test" %}</button>
      </form>
    </td>
    <td>
      <form method="post" action="{% url 'notifier-delete' notifier.id %}" onsubmit="return confirm('{% trans "Delete notificiation?" %}')" style="display: inline">
        {% csrf_token %}
        <button class="btn btn-danger btn-xs">{% trans "Delete" %}</button>
      </form>
    </td>
{% endif %}
  </tr>
  {% endfor %}
</table>
