{% load i18n %}
{% load promgen %}
<div class="panel-group">
  <div class="panel panel-default promgen-permission-panel">
    <div class="panel-heading">
      <h5>Users</h5>
    </div>
    <div class="panel-body">
      <table class="table table-bordered">
        <tr>
          <th>User</th>
          <th>Email</th>
          <th>Role</th>
          {% if role == "ADMIN" %}
          <th>Actions</th>
          {% endif %}
        </tr>
        {% for user,perms in object|get_users_roles %}
          {% include "promgen/permission_user_row.html" %}
        {% endfor %}
      </table>
      {% if role == "ADMIN" %}
      {% include "promgen/permission_form.html" with perm_type="user" %}
      {% endif %}
    </div>
  </div>

  <div class="panel panel-default promgen-permission-panel">
    <div class="panel-heading">
      <h5>Groups</h5>
    </div>
    <div class="panel-body">
      <table class="table table-bordered">
        <tr>
          <th>Name</th>
          <th>Role</th>
          {% if role == "ADMIN" %}
          <th>Actions</th>
          {% endif %}
        </tr>
        {% for group,perms in object|get_groups_roles %}
          {% include "promgen/permission_group_row.html" %}
        {% endfor %}
      </table>
      {% if role == "ADMIN" %}
      {% include "promgen/permission_form.html" with perm_type="group" %}
      {% endif %}
    </div>
  </div>
</div>
