{% load i18n %}
{% load promgen %}
<table class="table table-bordered table-condensed">
  <tr>
    <th>User</th>
    <th>Email</th>
    <th>Role</th>
    <th>Actions</th>
  </tr>
  {% for user,perms in object|get_users_roles %}
    {% include "promgen/permission_row.html" %}
  {% endfor %}
</table>
<div class="panel-footer">
  <form
    method="post"
    action="{% url 'permission-assign' %}"
    onsubmit="return confirm('{% trans 'Assign permission for user?' %}')"
  >
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ request.get_full_path }}" />
    <input name="model" type="hidden" value="{{ object | klass }}" />
    <input name="id" type="hidden" value="{{ object.id }}" />
    <table class="table">
      {{ permission_form.as_table }}
    </table>
    <div>
      <button class="btn btn-primary">Assign</button>
    </div>
  </form>
</div>
