{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="page-header">
  <h1>Project: {{ project.name }}</h1>
</div>

<ol class="breadcrumb">
  <li><a href="{% url 'home' %}">Home</a></li>
  <li><a href="{% url 'shard-detail' project.service.shard.id %}">{{ project.service.shard.name }}</a></li>
  <li><a href="{% url 'service-detail' project.service.id %}">{{ project.service.name }}</a></li>
  <li class="active"><a href="{% url 'project-detail' project.id %}">{{ project.name }}</a></li>
</ol>

<div style="display:none" id="alert-project-{{ project.name|slugify }}"></div>

<div class="row">

<div class="col-md-6">
  {% include "promgen/project_detail.configuration.html" %}
  {% include "promgen/project_detail.exporters.html" %}
  {% include "promgen/project_detail.urls.html" %}
  {% include "promgen/project_detail.hosts.html" %}
</div>

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">Project Senders</div>
    {% include "promgen/sender_block.html" with object=project show_edit=1 %}
    <div class="panel-footer">
      <a href="{% url 'project-sender' project.id %}" class="btn btn-primary">{% trans "Register Sender" %}</a>
    </div>
  </div>

{% if project.service.sender.count %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <a class="btn btn-primary btn-sm" role="button" data-toggle="collapse" href="#show-service-senders" aria-expanded="false" aria-controls="collapseExample">
    Service Senders ({{project.service.sender.count}})
    </a>
  </div>
  {% include "promgen/sender_block.html" with object=project.service collapse="show-service-senders" %}
</div>
{% endif %}

{% if global.rule_set.count %}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <a class="btn btn-primary btn-sm" role="button" data-toggle="collapse" href="#show-global-rules" aria-expanded="false" aria-controls="collapseExample">
      Common Rules ({{ global.rule_set.count }})
      </a>
    </div>
    {% include "promgen/rule_block.html" with object=global collapse="show-global-rules" %}
  </div>
{% endif %}

{% if project.service.rule_set.count %}
  <div class="panel panel-primary">
    <div class="panel-heading">Rules for {{ project.service.name }}</div>
    {% include "promgen/rule_block.html" with object=project.service %}
  </div>
{% endif %}
</div>

</div>

{% endblock %}
