{% load i18n %}
<div class="panel panel-default">
  <table class="table table-bordered table-condensed">
    <tr>
      <th>URL</th>
      <th>Probe</th>
      <th>Actions</th>
    </tr>
    {% for url in project.url_set.all %}
    <tr>
      <td style="word-break: break-all" v-pre>{{ url.url }}</td>
      <td title="{{ url.probe.description }}" v-pre>{{ url.probe.module }}</td>
      <td>
        <a @click="setSilenceDataset"
          class="btn btn-warning btn-xs"
          data-job="{{url.probe.module}}"
          data-instance="{{url.url}}">{% trans "Silence" %}</a>
        <form method="post"
          action="{% url 'url-delete' url.id %}"
          onsubmit="return confirm('Delete this url?')"
          style="display: inline">
          {% csrf_token %}
          <button class="btn btn-danger btn-xs">{% trans "Delete" %}</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
  <div class="panel-footer">
    <form method="post" action="{% url 'url-new' project.id %}" style="display: inline">
      {% csrf_token %}
      <table class="table table-condensed" v-pre>
        {{url_form.as_table}}
      </table>
      <div class="panel-footer">
        <button class="btn btn-primary btn-sm">{% trans "Register URL" %}</button>
      </div>
    </form>
  </div>
</div>
