{% load i18n %}

{% if global.rule_set.count %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <a class="btn btn-primary btn-sm" role="button" data-toggle="collapse" href="#show-global-rules" aria-expanded="false" aria-controls="collapseExample">
    Common Rules ({{ global.rule_set.count }})
    </a>
  </div>
  {% include "promgen/rule_block.html" with rule_list=global.rule_set.all collapse="show-global-rules" %}
</div>
{% endif %}

{% if project.service.rule_set.count %}
<div class="panel panel-primary">
  <div class="panel-heading">Rules for {{ project.service.name }}</div>
  {% include "promgen/rule_block.html" with rule_list=project.service.rule_set.all %}
</div>
{% endif %}
