{% load i18n %}

<div class="panel panel-default">
  <div class="panel-heading">Exporters</div>
  <table class="table">
    <tr>
      <th>Job</th>
      <th>Port</th>
      <th>Metrics Path</th>
      <th>Toggle</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  {% for exporter in project.exporter_set.all %}
    <tr>
      <td>{{ exporter.job }}</td>
      <td>{{ exporter.port }}</td>
      <td>{{ exporter.path }}</td>
      <td style="white-space: nowrap">
        <form method="post" action="{% url 'exporter-toggle' exporter.id %}" style="display: inline">
          {% csrf_token %}
          {% if exporter.enabled %}
            <a href="#" class="btn btn-default btn-xs" disabled>ON</a>
            <button class="btn btn-primary btn-xs">OFF</button>
          {% else %}
            <button class="btn btn-primary btn-xs">ON</button>
            <a href="#" class="btn btn-default btn-xs" disabled>OFF</a>
          {% endif %}
        </form>
      </td>
      <td>
        <a
          class="btn btn-warning btn-xs"
          data-labels='{"job":"{{exporter.job}}","project":"{{project.name}}","service":"{{project.service.name}}"}'
          href="#"
          style="display: inline-block;"
        >{% trans "Silence" %}</a>
      </td>
      <td>
        <form method="post" action="{% url 'exporter-delete' exporter.id %}" onsubmit="return confirm('Delete this exporter?')" style="display: inline">
          {% csrf_token %}
          <button class="btn btn-danger btn-xs">{% trans "Delete" %}</button>
        </form>
      </td>
    </tr>
  {% endfor %}
  </table>
  <div class="panel-footer">
    <a href="{% url 'project-exporter' project.id %}" class="btn btn-primary">{% trans "Register Exporter" %}</a>
  </div>
</div>
