{% load i18n %}

<div class="panel panel-primary">
  <div class="panel-heading">Configuration</div>
  <div class="panel-body">
    <a href="{% url 'project-exporter' project.id %}" class="btn btn-primary btn-sm">{% trans "Register Exporter" %}</a>
    <a href="{% url 'rule-new' 'project' project.id %}" class="btn btn-primary btn-sm">{% trans "Register Rule" %}</a>
    <a href="{% url 'project-notifier' project.id %}" class="btn btn-primary btn-sm">{% trans "Register Notifier" %}</a>

    <form action="{% url 'project-notifier' project.id %}" style="display:inline" method="post">{% csrf_token %}
      <input type="hidden" name="sender" value="promgen.notification.user">
      <input type="hidden" name="value" value="{{request.user.username}}"/>
      <button class="btn btn-primary btn-sm">{% trans "Subscribe to Notifications" %}</button>
    </form>

    <a href="{% url 'audit-list'  %}?project={{project.id}}" class="btn btn-info btn-sm">{% trans "Edit History" %}</a>
    <a href="{% url 'project-update' project.id %}" class="btn btn-warning btn-sm">{% trans "Update Project" %}</a>
    <a href="{% url 'project-targets' project.id %}" class="btn btn-default btn-sm">{% trans "Export Project" %}</a>
    <form method="post" action="{% url 'project-delete' project.id %}" onsubmit="return confirm('{% trans "Delete this Project?" %}')" style="display: inline">
      {% csrf_token %}
      <button class="btn btn-danger btn-sm">{% trans "Delete Project" %}</button>
    </form>
  </div>
</div>
