{% extends "base.html" %}

{% block content %}

<div class="page-header">
  <h1>{{ view.button_label }}</h1>
</div>

<ol class="breadcrumb">
  <li><a href="{% url 'service-list' %}">Home</a></li>
{% if service %}
  <li><a href="{% url 'service-detail' service.id %}">{{ service.name }}</a></li>
{% endif %}
  <li class="active">New Rule</li>
</ol>

<div class="panel panel-default">
  <div class="panel-heading">New Rule</div>
  <div class="panel-body">
    <form action="{% url 'rule-new' service.id %}" method="post">{% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Register Rule</button>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Import Rule</div>
  <div class="panel-body">
    <form action="{% url 'rule-new' service.id %}" method="post">{% csrf_token %}
        <textarea class="form-control" name="rules"></textarea>
        <button class="btn btn-primary">Import Rule</button>
    </form>
  </div>
</div>

{% endblock %}
