{% extends "base.html" %}

{% block content %}

{% if service %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'service-detail' service.id %}">{{ service.name }}</a></li>
</ol>
{% endif %}

<div class="panel panel-default">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Clause</th>
          <th>Duration</th>
          <th>Labels</th>
          <th>Annotations</th>
          <th>Service</th>
        </tr>
      </thead>
{% for rule in rule_list %}
      <tr>
        <td>{{ rule.name }}</td>
        <td>{{ rule.clause }}</td>
        <td>{{ rule.duration }}</td>
        <td>{{ rule.labels }}</td>
        <td>{{ rule.annotations }}</td>
        <td><a href="{% url 'service-rules' rule.service.id %}">{{ rule.service }}</a></td>
      </tr>
{% endfor %}
    </table>

    {% if service %}
    <div class="panel-footer">
      <a href="{% url 'service-rules-new' service.id %}" class="btn btn-primary">
        Register new Rule</a>
    </div>
    {% endif %}

</div>

{% endblock %}
