{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="page-header">
  <h1>Rules</h1>
</div>

<ol class="breadcrumb">
  <li><a href="{% url 'service-list' %}">Home</a></li>
  <li class="active">List Rules</li>
</ol>

{% for service in service_list %}
{% if service.rule_set.count %}
<h2><a href="{% url 'service-detail' service.id %}">{{ service.name }}</a></h2>
<div class="panel panel-default">
  <div class="panel-heading">
    Rules ( {{service.rule_set.count}} )
    <span class="pull-right form-inline">
      <a href="{% url 'rule-new' service.id %}" class="btn btn-primary btn-xs">{% trans "Register Rule" %}</a>
    </span>
  </div>
{% include "promgen/rule_block.html" with rule_list=service.rule_set.all show_full=1 %}
</div>
{% endif %}
{% endfor %}

{% endblock %}
