{% extends "base.html" %}
{% load promgen %}
{% load i18n %}
{% block content %}

<div class="page-header">
  <h1>Service: {{ service.name }}</h1>
</div>

<ol class="breadcrumb">
  <li><a href="{% url 'service-list' %}">Home</a></li>
  <li><a href="{% url 'service-detail' service.id %}">{{ service.name }}</a></li>
  <li class="active">New Rule</li>
</ol>

{% if rule.parent %}
<div class="panel panel-default">
  <div class="panel-heading">
    <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#rule-parent" aria-expanded="false" aria-controls="collapseExample">
      Parent Rule
    </button>
    <a class="btn btn-default" href="{% url 'rule-edit' rule.parent.pk %}" />Edit Parent</a>
  </div>
  <div id="rule-parent" class="panel-body collapse">
    <pre>{% include "promgen/prometheus.rule" with rule=rule.parent %}</pre>
  </div>
</div>
{% endif %}

{% if rules %}
<div class="panel panel-default">
  <div class="panel-heading">
    <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#rule-preview" aria-expanded="false" aria-controls="collapseExample">
      Preview
    </button>
  </div>
  <div id="rule-preview" class="panel-body collapse">
    <pre>{% include "promgen/prometheus.rule" %}</pre>
  </div>
</div>
{% endif %}

<form action="" class="input-group" method="post">{% csrf_token %}
<div class="row">

  {% if form.non_field_errors  %}
  <div class="panel panel-danger">
    <div class="panel-heading">Errors</div>
      {% for error in form.non_field_errors %}
        <div class="panel-body">{{ error|linebreaks }}</div>
      {% endfor %}
  </div>
  {% endif %}

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">{{ form.name.label_tag }}</div>
    <div class="panel-body">
      {{ form.name.errors }}
      {{ form.name }}

      {{ form.enabled.label_tag }}
      {{ form.enabled.errors }}
      {{ form.enabled }}

      <p>Move to different Service</p>
      {{ form.service.errors }}
      {{ form.service }}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      {{ form.clause.label_tag }}
      <a
        class="btn btn-warning"
        id="test_clause"
        data-source="#id_clause"
        data-target="#ajax-clause-check"
        data-shard-id="{{ service.shard.id }}"
        data-href="{% url 'rule-test' rule.id %}"
        >Test Query</a>
    </div>
    <div class="panel-body">
      {{ form.clause.errors }}
      {{ form.clause }}
    </div>
    <div id="ajax-clause-check"></div>
    <div class="panel-body">
      <p class="help-block">
        <ul class="list-inline">
          <li>Documentation:</li>
          <li><a href="https://prometheus.io/docs/querying/basics/">Basics</a></li>
          <li><a href="https://prometheus.io/docs/querying/operators/">Operators</a></li>
          <li><a href="https://prometheus.io/docs/querying/functions/">Functions</a></li>
          <li><a href="https://prometheus.io/docs/querying/examples/">Examples</a></li>
        </ul>

        Examples
        <ul>
          <li><code>node_load1{service="{{ service.name }}"} > 5</code></li>
          <li><code>api_http_request_latencies_second{quantile="0.5"} > 1</code></li>
        </ul>
      </p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">{{ form.duration.label_tag }}</div>
    <div class="panel-body">
      {{ form.duration.errors }}
      {{ form.duration }}
      <p class="help-block">Prometheus to wait for a certain duration between first encountering a new expression output vector element (like an instance with a high HTTP error rate) and counting an alert as firing for this element. Elements that are active, but not firing yet, are in pending state.</p>
    </div>
  </div>

{% if rule.overrides.count %}
  <div class="panel panel-default">
    <div class="panel-heading">Overrided By</div>
    <table class="table">
  {% for r in rule.overrides.all %}
      <tr>
        <td><a href="{% url 'rule-edit' r.pk %}">{{ r.name }}</a></td>
        <td>{{ r.clause }}</td>
      </tr>
  {% endfor %}
    </table>
  </div>
{% endif %}

</div>

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">Labels - Control routing through AlertManager and Promgen</div>
    <div class="panel-body">
      {{ label_set.management_form }}
      <table class="table">
          <tr>
            <th>Label</th>
            <th>Value</th>
            <th>Delete?</th>
          </tr>
        {% for label_form in label_set %}
          <tr>
            <td>{{ label_form.id }} {{ label_form.name }}</td>
            <td>{{ label_form.value }}</td>
            <td>{{ label_form.DELETE }}</td>
          </tr>
        {% endfor %}
      </table>
      <div class="panel panel-default">
        Examples
        <ul>
          <li><code>{"severity":"major"}</code></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Annotations - Provide extra details for notifications</div>
    {{ annotation_set.management_form }}
    <table class="table">
        <tr>
          <th>Annotation</th>
          <th>Value</th>
          <th>Delete?</th>
        </tr>
      {% for annotation_form in annotation_set %}
        <tr>
          <td>{{ annotation_form.id }} {{ annotation_form.name }}</td>
          <td>{{ annotation_form.value }}</td>
          <td>{{ annotation_form.DELETE }}</td>
        </tr>
      {% endfor %}
    </table>
    <div class="panel-body">
      <div class="panel panel-default">
        Examples
        <ul>
          <li><code>summary: High load on {% templatetag openvariable %} $labels.instance {% templatetag closevariable %}</code></li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</div>

</div>
<button class="btn btn-primary">Register Rule</button>
</form>

<form method="post" action="{% url 'rule-delete' rule.id %}" onsubmit="return confirm('{% trans "Delete this Rule?" %}')" style="display: inline">
  {% csrf_token %}
  <button class="btn btn-danger">{% trans "Delete Rule" %}</button>
</form>

{% endblock %}
