{% extends "base.html" %}

{% block content %}

<div class="page-header">
  <h1>Service: {{ service.name }}</h1>
</div>

<ol class="breadcrumb">
  <li><a href="{% url 'service-list' %}">Home</a></li>
  <li><a href="{% url 'service-detail' service.id %}">{{ service.name }}</a></li>
  <li class="active">New Rule</li>
</ol>

<form action="{% url 'rule-new' service.id %}" method="post">{% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary">Register Rule</button>
</form>

{% endblock %}
