{% extends "base.html" %}

{% load promgen %}
{% load i18n %}

{% block title %}
Promgen / Rule / {{ rule.name }}
{% endblock %}

{% block content %}
{% current_role rule as role %}

<div class="page-header promgen-flex-space-between-center" v-pre>
  <div>
    <h1>Rule: {{ rule.name }}</h1>
  </div>
  {% include "promgen/rule_action_button_group.html" %}
</div>

{% breadcrumb rule  %}

<div class="panel panel-danger" v-cloak v-if="activeRuleAlerts.has('{{rule.name}}')" data-service="{{rule.name}}">
    <div class="panel-heading">
        <a @click="toggleComponent('alerts-service-{{rule.name|slugify}}')" class="btn btn-danger btn-sm" role="button">Alerts</a>
    </div>
    <table v-if="components['alerts-service-{{rule.name|slugify}}']" class="table table-bordered table-condensed">
        <tr v-for="alert in activeRuleAlerts.get('{{rule.name}}')">
            {% include 'promgen/alert_row.html' %}
        </tr>
    </table>
</div>

<div class="panel panel-primary" v-pre>
    <div class="panel-heading">{{rule.name}}</div>
    <div class="panel-body">
{% if rule.description %}
        <div>
            <label>Description:</label>
            <p v-pre>{{rule.description}}</p>
        </div>
{% endif %}
        <pre v-pre>{{rule|rule_dict|pretty_yaml}}</pre>
    </div>
</div>

{% if rule.parent %}
<div class="panel panel-default" v-pre>
    <div class="panel-heading">Parent</div>
    <table class="table">
        <tr>
            <td>
                <a href="{{rule.parent.get_absolute_url}}">{{rule.parent.name}}</a>
            </td>
            <td>
                <code v-pre data-href="{% url 'rule-test' rule.parent.pk %}">
                    {{ rule.parent|rulemacro }}
                </code>
            </td>
        </tr>
    </table>
</div>
{% endif %}

{% if rule.overrides.count %}
<div class="panel panel-default" v-pre>
    <div class="panel-heading">Child Rules</div>
    <table class="table">
        <tr>
            <th>Rule</th>
            <th>Clause</th>
            <th>For</th>
            <th>Owner</th>
        </tr>
        {% for r in rule.overrides.all %}
        <tr {% if not r.enabled %}class="promgen-disabled" {% endif %}>
            <td class="col-xs-2">
                <a href="{% url 'rule-detail' r.pk %}">{{ r.name }}</a>
                <ul>
                    {% for k,v in r.labels.items|dictsort:0 %}
                    <li class="label label-primary">{{k}}:{{v}}</li>
                    {% endfor %}
                </ul>
            </td>
            <td class="col-xs-8 promgen-clause">
                {{ r|rulemacro }}
            </td>
            <td>
                {{r.duration}}
            </td>
            <td class="col-xs-2"><a href="{{ r.content_object.get_absolute_url }}">{{ r.content_object.name }}</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}

{% endblock %}
