{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="page-header">
  <h1>Hosts</h1>
</div>

<ol class="breadcrumb">
  <li><a href="{% url 'service-list' %}">Home</a></li>
  <li class="active">Search</li>
</ol>

{% if service_list %}
<div class="panel panel-default">
  <div class="panel-heading">Services</div>
  <div class="panel-body">
    <ul>
    {% for service in service_list %}
    <li><a href="{% url 'service-detail' service.id %}">{{ service.name }}</a></li>
    {% endfor %}
  </ul>
  </div>
</div>
{% endif %}

{% if project_list %}
<div class="panel panel-default">
  <div class="panel-heading">Projects</div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Exporters</th>
        <th>Notifications</th>
      </tr>
    </thead>
    {% for project in project_list %}
    <tr>
      <td><a href="{% url 'project-detail' project.id %}">{{ project.name }}</a></td>
      <td>
        <table style="width: 100%">
  {% for exporter in project.exporter_set.all %}
          <tr>
            <td>{{ exporter.job }}</td>
            <td>{{ exporter.port }}</td>
            <td>{{ exporter.path }}</td>
          </tr>
  {% endfor %}
        </table>
      </td>
      <td>
        <table style="width: 100%">
  {% for sender in project.sender_set.all %}
          <tr>
            <td>{{ sender.sender }}</td>
            <td>{{ sender.show_value }}</td>
          </tr>
  {% endfor %}
        </table>
      </td>
    </tr>
    {% endfor %}
  </table>
  </div>
</div>
{% endif %}

{% if farm_list %}
<div class="panel panel-default">
  <div class="panel-heading">Farms</div>
  <div class="panel-body">
    <ul>
    {% for farm in farm_list %}
    <li><a href="{% url 'farm-detail' farm.id %}">{{ farm.name }}</a></li>
    {% endfor %}
  </ul>
  </div>
</div>
{% endif %}

{% if host_list %}
<div class="panel panel-default">
  <div class="panel-heading">Hosts</div>
  <div class="panel-body">
    <ul>
    {% for host in host_list %}
    <li><a href="{% url 'host-detail' host.id %}">{{ host.name }}</a></li>
    {% endfor %}
  </ul>
  </div>
</div>
{% endif %}

{% if rule_list %}
<div class="panel panel-default">
  <div class="panel-heading">Rules</div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Clause</th>
        <th>Duration</th>
        <th>Labels</th>
        <th>Annotations</th>
        <th>Service</th>
      </tr>
    </thead>
    {% for rule in rule_list %}
    <tr>
      <td><a href="{% url 'rule-edit' rule.id %}">{{ rule.name }}</a></td>
      <td>{{ rule.clause }}</td>
      <td>{{ rule.duration }}</td>
      <td>{{ rule.labels }}</td>
      <td>{{ rule.annotations }}</td>
      <td>{{ rule.service }}</td>
    </tr>
    {% endfor %}
  </ul>
  </div>
</div>
{% endif %}

{% endblock %}
