{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="page-header">
  <h1>Hosts</h1>
</div>

<ol class="breadcrumb">
  <li><a href="{% url 'service-list' %}">Home</a></li>
  <li class="active">Search</li>
</ol>

{% if service_list %}
<div class="panel panel-default">
  <div class="panel-heading">Services</div>
  <table class="table table-bordered table-condensed">
    <tr>
      <th>Name</th>
      <th>Projects</th>
      <th>Rules</th>
    </tr>
    {% for service in service_list %}
    <tr>
      <td><a href="{% url 'service-detail' service.id %}">{{ service.name }}</a></td>
      <td>
        <ul class="list-unstyled">
        {% for project in service.project_set.all %}
          <li><a href="{% url 'project-detail' project.id %}">{{ project.name }}</a></li>
        {% endfor %}
        </ul>
      </td>
      <td>
        <ul class="list-unstyled">
        {% for rule in service.rule_set.all %}
          <li><a href="{% url 'service-detail' service.id %}">{{ rule.name }}</a></li>
        {% endfor %}
        </ul>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}

{% if project_list %}
<div class="panel panel-default">
  <div class="panel-heading">Projects</div>
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Exporters</th>
        <th>Notifications</th>
      </tr>
    </thead>
    {% for project in project_list %}
    <tr>
      <td><a href="{% url 'project-detail' project.id %}">{{ project.name }}</a></td>
      <td>
        <dl class="dl-horizontal">
  {% for exporter in project.exporter_set.all %}
        <dt>{{ exporter.job }}</dt>
        <dd>{{ exporter.port }}</dd>
  {% endfor %}
        </dl>
      </td>
      <td>
        <dl class="dl-horizontal">
  {% for sender in project.sender.all %}
          <dt>{{ sender.sender }}</dt>
          <dd>{{ sender.show_value }}</dd>
  {% endfor %}
        </dl>
      </td>
    </tr>
    {% endfor %}
  </table>
  </div>
</div>
{% endif %}

{% if farm_list %}
<div class="panel panel-default">
  <div class="panel-heading">Farms</div>
  <table class="table table-bordered table-condensed">
    <tr>
      <th>Name</th>
      <th>Projects</th>
      <th>Hosts</th>
    </tr>
    {% for farm in farm_list %}
    <tr>
      <td><a href="{% url 'farm-detail' farm.id %}">{{ farm.name }}</a></td>
      <td>
        <ul class="list-unstyled">
{% for project in farm.project_set.all %}
          <li><a href="{% url 'project-detail' project.id %}">{{ project.name }}</a></li>
{% endfor %}
        </ul>
      </td>
      <td>
        <ul class="list-unstyled">
{% for host in farm.host_set.all %}
          <li>{{ host.name }}</li>
{% endfor %}
        </ul>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}

{% if host_list %}
<div class="panel panel-default">
  <div class="panel-heading">Hosts</div>
  <div class="panel-body">
    <ul>
    {% for host in host_list %}
    <li><a href="{% url 'host-detail' host.id %}">{{ host.name }}</a></li>
    {% endfor %}
  </ul>
  </div>
</div>
{% endif %}

{% if rule_list %}
<div class="panel panel-default">
  <div class="panel-heading">Rules</div>
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Service</th>
        <th>Clause</th>
        <th>Duration</th>
        <th>Labels</th>
        <th>Annotations</th>
      </tr>
    </thead>
    {% for rule in rule_list %}
    <tr {% if not rule.enabled %}class="bg-disabled text-muted"{% endif %}>
      <td><a href="{% url 'rule-edit' rule.id %}">{{ rule.name }}</a></td>
      <td><a href="{% url 'service-detail' rule.service_id %}">{{ rule.service.name }}</a></td>
      <td>{{ rule.clause }}</td>
      <td>{{ rule.duration }}</td>
      <td>{{ rule.labels }}</td>
      <td>{{ rule.annotations }}</td>
    </tr>
    {% endfor %}
  </ul>
  </table>
</div>
{% endif %}

{% endblock %}
