{% extends "base.html" %}

{% block content %}

<div class="page-header">
  {% if project %}
  <h1>Project: {{ project.name }}</h1>
  {% else %}
  <h1>Service: {{ service.name }}</h1>
  {% endif %}
</div>

{% include 'promgen/breadcrumb_block.html' with label='Register Exporter' %}

<div class="row">
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked" role="tablist">
      {% for k, v in view.model.plugins|dictsort:0 %}
      <li role="presentation">
        <a href="#{{ k|slugify }}" aria-controls="{{ k|slugify }}" role="tab" data-toggle="tab">{{ k }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-md-8 tab-content">
    {% for k, v in view.model.plugins|dictsort:0 %}

    <div role="tabpanel" class="tab-pane panel panel-default" id="{{ k|slugify }}">
        <form action="" method="post">{% csrf_token %}
          <input type="hidden" name="sender" value="{{k}}" />
          <div class="panel-body">
            <pre class="help-block">{{ v.help }}</pre>
          </div>
          <table class="table">
            {{ v.form.as_table }}
          </table>
          <div class="panel-body">
            <button class="btn btn-primary">Register Sender</button>
          </div>
          </form>
    </div>
    {% endfor %}
  </div>

{% endblock %}
