{% load i18n %}
<div class="well">
  <div style="display:none" id="alert-service-{{ service.name|slugify }}"></div>

  <div class="panel panel-default">
    <div class="panel-heading">
      Rules ( {{service.rule_set.count}} )
      <span class="pull-right form-inline">
        <a href="{% url 'rule-new' service.id %}" class="btn btn-primary btn-xs">{% trans "Register Rule" %}</a>
        <a href="{% url 'service-rules' service.id %}" class="btn btn-default btn-xs">{% trans "Export Rules" %}</a>
      </span>
    </div>
{% if service.rule_set.count %}
{% include "promgen/rule_block.html" with object=service show_edit=1 %}
{% endif %}
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      Sender
      <span class="pull-right form-inline">
        <a href="{% url 'service-sender' service.id %}" class="btn btn-primary btn-xs">{% trans "Register Sender" %}</a>
      </span>
    </div>
    {% if service.sender.count %}
    {% include "promgen/sender_block.html" with object=service show_edit=1 %}
    {% endif %}
  </div>

<div class="panel panel-default">
<div class="panel-heading">
  Projects
  <span class="pull-right form-inline">
    <a href="{% url 'project-new' service.id %}" class="btn btn-primary btn-xs">{% trans "Register Project" %}</a>
    <a href="{% url 'service-targets' service.id %}" class="btn btn-default btn-xs">{% trans "Export Service" %}</a>
  </span>
</div>
{% if service.project_set.count %}
<table class="table table-bordered table-condensed">
  <tr>
    <th>Project</th>
    <th>Farm</th>
    <th>Exporters</th>
    <th>Senders</th>
    <th>Actions</th>
  </tr>
{% for project in service.project_set.all %}
  <tr>
    <td><a href="{% url 'project-detail' project.id %}">{{ project.name }}</a></td>
    <td>{% if project.farm %}{{ project.farm }}{% endif %}</td>
    <td>
      <table style="width: 100%">
{% for exporter in project.exporter_set.all %}
        <tr>
          <td>{{ exporter.job }}</td>
          <td>{{ exporter.port }}</td>
          <td>{{ exporter.path }}</td>
        </tr>
{% endfor %}
      </table>
    </td>
    <td>
      <table style="width: 100%">
{% for sender in project.sender.all %}
        <tr>
          <td>{{ sender.sender }}</td>
          <td>{{ sender.show_value }}</td>
        </tr>
{% endfor %}
      </table>
    </td>
    <td>
      <a href="{% url 'project-mute' project.id %}" class="btn btn-warning btn-sm">{% trans "Mute" %}</a>
    </td>
  </tr>
{% endfor %}
</table>
{% endif %}

  </div>
    <a href="{% url 'service-update' service.id %}" class="btn btn-warning btn-sm">{% trans "Edit Service" %}</a>
    <a href="{% url 'service-mute' service.id %}" class="btn btn-warning btn-sm">{% trans "Mute Service" %}</a>
    <form method="post" action="{% url 'service-delete' service.id %}" onsubmit="return confirm('{% trans "Delete this service?" %}')" style="display: inline">
      {% csrf_token %}
      <button class="btn btn-danger btn-sm">{% trans "Delete Service" %}</button>
    </form>
</div>
