{% extends "base.html" %}

{% block content %}

{% for service in service_list %}
<div class="panel panel-default">
  <div class="panel-heading"><a href="/service/{{ service.id }}">{{ service.name }}</a></div>
<table class="table table-bordered">
  <tr>
    <th>Project</th>
    <th>Farm</th>
    <th>Exporters</th>
  </tr>
{% for project in service.project_set.all %}
  <tr>
    <td>{{ project.name }}</td>
    <td>{{ project.farm }}</td>
    <td>
      <table style="width: 100%">
{% for exporter in project.exporter_set.all %}
        <tr>
          <td>{{ exporter.job }}</td>
          <td>{{ exporter.port }}</td>
          <td>{{ exporter.path }}</td>
        </tr>
{% endfor %}
      </table>
    </td>
  </tr>
{% endfor %}
</table>
  <div class="panel-footer">
    <a href="/service/25/rule" class="btn btn-primary">Rules</a>
    <a href="/service/25/project/create" class="btn btn-primary">Register
    project</a>
    <form method="post" action="/service/25/delete" onsubmit="return confirm('Delete this service?')" style="display: inline">
      <button class="btn btn-danger">Delete service</button>
    </form>
  </div>
</div>
{% endfor %}

{% endblock %}
