{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="page-header">
  <h1>Service: {{ service.name }}</h1>
</div>

<ol class="breadcrumb">
  <li><a href="{% url 'service-list' %}">Home</a></li>
  <li class="active"><a href="{% url 'service-detail' service.id %}">{{ service.name }}</a></li>
</ol>

{% include "promgen/service_block.html" %}

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">Notifications</div>
    <table class="table">
      <tr>
        <th>Sender</th>
        <th>Value</th>
      </tr>
      {% for sender in service.sender.all %}
      <tr>
        <td>{{ sender.sender }}</td>
        <td>{{ sender.show_value }}</td>
        <td>
          <form method="post" action="{% url 'sender-test' sender.id %}" style="display: inline">
            {% csrf_token %}
            <button class="btn btn-danger">{% trans "Test" %}</button>
          </form>
        </td>
        <td>
          <form method="post" action="{% url 'sender-delete' sender.id %}" onsubmit="return confirm('{% trans "Delete notificiation?" %}')" style="display: inline">
            {% csrf_token %}
            <button class="btn btn-danger">{% trans "Delete" %}</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
    <div class="panel-footer">
      <a href="{% url 'service-sender' service.id %}" class="btn btn-primary">{% trans "Register Sender" %}</a>
    </div>
  </div>
</div>

{% endblock %}
