{% load i18n %}
{% load promgen %}

<table class="table table-bordered table-condensed">
  <tr>
      <th class="col-md-2">Project</th>
      <th class="col-md-3">Exporters</th>
      <th class="col-md-3">Notifiers</th>
      <th class="col-md-1">Actions</th>
  </tr>
  {% with service_role=role %}
  {% for project in shard_projects %}

  {% if service.notifiers.count == 0 and project.notifiers.count == 0 %}
  <tr>
      <td colspan="4" class="warning">
          <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
          {% translate "No notifications configured for this project. Please configure some" %}
      </td>
  </tr>
  {% endif %}

  {% if service_role == "ADMIN" or service_role == "EDIT" %}
    {% include 'promgen/project_row.html' %}
  {% else %}
    {% current_role project as project_role %}
    {% include 'promgen/project_row.html' with role=project_role %}
  {% endif %}
  {% empty %}
  <tr>
      <td colspan="4">No Projects?</td>
  </tr>
  {% endfor %}
  {% endwith %}
</table>
