{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="page-header">
  <h1>Shards</h1>
</div>

<div class="service-grid">


  {% for shard in shard_list|dictsortreversed:"service_set.count" %}
    <div >
      <h2><a href="{% url 'shard-detail' shard.id %}">{{ shard.name }}</a></h2>
      {% include 'promgen/shard_header.html' %}

      <table class="table">
{% for service in shard.service_set.all %}
        <tr>
          <td>
{% if service.check_notifiers == False %}
            <a
              class="btn btn-xs btn-warning"
              role="button"
              tabindex="0"
              title="{% trans 'Notification setting warning' %}"
              data-toggle="popover"
              data-content='{% trans "This service does not have any notifications configured. Please configure notifications to properly route alerts" %}'
              data-html="true"
              data-placement="right"
              data-trigger="focus"
            ><span class="glyphicon glyphicon-alert" aria-hidden="true"></span></a>
{% endif %}
          </td>
          <td style="width:100%">
            <a href="{% url 'service-detail' service.id %}">{{ service.name }}</a>
          </td>
        </tr>
{% endfor %}
    </table>
  </div>
{% endfor %}

{% endblock %}
