{% extends "base.html" %}
{% load i18n %}
{% load promgen %}

{% block title %}
Promgen / Shard / {{ shard.name }}
{% endblock %}

{% block content %}

<div class="page-header">
  <h1>Shard: {{ shard.name }}</h1>
  <a href="{{shard.url}}">{{shard.url}}</a>
</div>

{% breadcrumb shard %}

{% include 'promgen/shard_header.html' %}

{% for service in shard.service_set.all %}
<h2><a href="{% url 'service-detail' service.id %}">{{ service.name }}</a></h2>

{% if service.owner %}
  <p>{% trans 'Contact' %}: {{service.owner.username}}</p>
{% endif %}

{% include "promgen/service_block.html" %}
{% endfor %}

{% endblock %}
