{% load i18n %}
<form method="post" action="{% url 'silence' %}">
  <input name="next" type="hidden" value="{{ request.get_full_path }}" />
  {% csrf_token %}
<div class="panel panel-warning" style="display:none" id="silence-form">
  <div class="panel-heading">
    Silence
    <button type="button" id="silence-form-close" class="close">&times;</button>
  </div>
  <div class="labels panel-body"></div>
  <table class="table table-bordered table-condensed duration">
    <tr>
      <th>Duration</th>
      <th>Start</th>
      <th>End</th>
      <th>Comment</th>
      <th>CreatedBy</th>
    </tr>
    <tr>
      <td><input name="duration" placeholder="1m/1h/etc" /></td>
      <td style="position:relative"><input name="start" type='text' class="form-control silence_start" /></td>
      <td style="position:relative"><input name="stop" type='text' class="form-control silence_end" /></td>
      <td><input name="comment" placeholder="Silenced from Promgen" /></td>
      <td><input name="created_by" placeholder="Promgen" /></td>
    </tr>
  </table>
  <div class="panel-footer">
    <button class="btn btn-warning">{% trans "Silence" %}</button>
  </div>
</div>
</form>
