{% extends "base.html" %}

{% block content %}


<div class="page-header">
  <h1>Status</h1>
</div>

<ol class="breadcrumb">
  <li><a href="{% url 'service-list' %}">Home</a></li>
  <li class="active">Promgen Status</li>
</ol>

<table>
  <tr>
    <td>Discovery Plugins</td>
    <td>
      <ul>
{% for plugin in discovery_plugins %}
      <li>{{ plugin.name }} - {{ plugin.module_name }}</li>
{% endfor %}
    </td>
  </tr>
  <tr>
    <td>Notifier Plugins</td>
    <td>
      <ul>
{% for notifier in senders %}
      <li>{{ notifier.name }} - {{ notifier.module_name }}</li>
{% endfor %}
    </td>
  </tr>
</table>
{% endblock %}
