name: "Sphinx Documentation"
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  docs:
    name: Build Sphinx Documentation
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        python-version: ["3.6"]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: |
            setup.cfg
            docker/requirements.txt

      - name: Build Docs
        run: make docs

      - name: Deploy to GitHub Pages
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: JamesIves/github-pages-deploy-action@v4.4.2
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: dist/html
