name: "Sphinx Documentation"
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  docs:
    name: Build Sphinx Documentation
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.6"]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ hashFiles('setup.cfg') }}-${{ hashFiles('docker/requirements.txt') }}

      - name: Build Docs
        run: make docs

      - name: Deploy to GitHub Pages
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: dist/html
